@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.tab-content-item-bg {
  filter: blur(2px);
  -webkit-filter: blur(2px);
  border-radius: 0.5rem;
}

.address-item-container {
  max-height: 600px;
}

.order-item-image-container {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  margin-bottom: 4px;
  max-width: 100%;
  overflow-x: auto;
}

.order-item-image {
  display: inline-block;
  min-width: 80px;
  min-height: 80px;
  margin-left: 4px;
  margin-right: 4px;
}

.remember-me-radio-btn[type=radio] {
  border: 1px solid #64748b;
  border-radius: 3px;
  padding: 5px;
  width: 15px;
  height: 15px;
  margin-right: 8px;
  -webkit-appearance: none;
}

.remember-me-radio-btn[type=radio]:checked {
  background-color: aqua;
  background-size: 3px 3px;
}

.remember-me-radio-btn[type=radio]:focus {
  outline-color: transparent;
}